.separator1 {
  width: 90%;
  height: 1px;
  background: #d4d7d2; /* mesma cor da imagem */
  margin-left: 100px;
  margin-top: -15px;
}


.cadastroAdm {
  background: #e9ebea;
  padding: 40px;
  
}

/* Header da página */
.header-line {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header-line h2, p {
  margin-left: 5.5vw;
}

.header-line h2 {
  font-size: 22px;
  font-weight: 600;
}

.header-line p {
  color: #5f5f5f;
  margin-top: 4px;
}

/* Botão Criar */
.btn-criar {
  background: #556b55;
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.2s;
  margin-right: 10vw;
}

.btn-criar:hover {
  opacity: 0.9;
}

/* Caixa do formulário */
.form-box {
  background: white;
  margin-top: 25px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 6px #d0d0d0;
  width: 84%;
  margin-left: 5.5vw;
}

form {
  display: grid;
  grid-template-columns: 0.4fr 0.4fr;
  gap: 25px 60px;
  margin-left: 14vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

.form-group select {
  width: 100%;
  padding: 12px 14px;
  border: none;
  border-radius: 8px;
  background: #eaf0e8;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: url("./images/1ha.png");
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 18px;
}


/* Campinhos */
.form-group label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
  color: #2f2f2f;
}

.form-group input {
  width: 100%;
  padding: 12px 14px;
  border: none;
  border-radius: 8px;
  background: #eaf0e8;
  font-size: 14px;
  outline: none;
  color: #333;
}



.form-group input:focus,
.form-group select:focus {
  outline: 2px solid #c7d7c2;
}

/* Responsivo */
@media (max-width: 820px) {
  form {
    grid-template-columns: 1fr;
  }
}
