#editarPonto {
    background: #e6e7e6;
    padding: 40px;
}

.container {
    background: white;
    margin-top: 25px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 6px #d0d0d0;
    width: 84%;
    margin-left: 5.5vw;
}

.top-area h2, p {
    margin-left: 5.5vw;
}

p.subtitle {
    color: #6a7569;
    margin-top: 5px;
}

.top-area {
    margin-bottom: 20px;
}

.filter-area {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.filter-area p {
    font-size: 18px;
    font-weight: 500;
    margin-left: -0.2vw;
}

.search-box {
    background: #f1f3f1;
    padding: 10px 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
}

.search-box input {
    border: none;
    background: transparent;
    outline: none;
    width: 100%;
    font-size: 0.9rem;
}

.filters button {
    padding: 10px 25px;
    border-radius: 10px;
    border: none;
    background: #dfe4dd;
    color: #3e5140;
    font-weight: 500;
}

.filters .active {
    background: #4b5d3d;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th {
    text-align: left;
    padding-bottom: 10px;
    font-weight: 500;
}

td {
    padding: 12px 0;
    border-bottom: 1px solid #e1e5df;
    color: #4c554c;
}

.acoes img {
    width: 20px;
    cursor: pointer;
    margin-right: 12px;
}

.pagination {
text-align: right;
margin-top: 20px;
font-size: 1rem;
color: #777;
}


.pagination .page-number {
margin: 0 8px;
cursor: pointer;
color: #999;
font-weight: 400;
}


.pagination .page-number.active {
color: #000;
font-weight: 300;
}