.overview {
  background: #e9ebea;
  padding: 40px;
}

.overview h2 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 4px;
  margin-left: 100px;
}

.overview p {
  color: #595959;
  margin-bottom: 25px;
  margin-left: 100px;
}

.separator {
  width: 90%;
  height: 1px;
  background: #d4d7d2; /* mesma cor da imagem */
  margin-left: 100px;
  margin-bottom: 30px;
  margin-top: -15px;
}

#logoutBtn{
    color: black;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
}

.cards {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;  /* centraliza os cards */
}

.card {
  background: white;
  width: 260px;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0px 0px 4px #d0d0d0;
  display: flex;
  align-items: center;
  gap: 18px;
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
}

.icon {
  width: 55px;
  height: 55px;
  background: #d9e2d8;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon img {
    width: 68%;
}

.text h3 {
  font-size: 20px;
  font-weight: 600;
}

.text span {
  font-size: 14px;
  color: #727272;
}

/* Responsivo */
@media (max-width: 780px) {
  .cards {
    justify-content: center;
  }
}



#toast-container {
  position: fixed;
  bottom: 20px; /* distância da parte inferior */
  right: 30.5%;  /* distância da lateral */
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.toast {
  background-color: #af4c4c; /* cor verde, você pode trocar */
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  animation: slideIn 0.3s ease, fadeOut 0.5s 2.5s forwards; /* entra e sai */
  font-weight: 500;
  min-width: 200px;
  text-align: center;
}

.toast-success {
  background-color: #4CAF50;
}

.toast-error {
  background-color: #E53935;
}

@keyframes slideIn {
  from { transform: translateX(100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

@keyframes fadeOut {
  to { opacity: 0; transform: translateX(100%); }
}

.toast-confirm {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 260px;
  background: #ffffff;
  color: #333;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  z-index: 9999;
  border-left: 5px solid #f1c40f;
  animation: fadeIn 0.3s ease;
}

.toast-confirm.hidden {
  display: none;
}

.toast-confirm .actions {
  margin-top: 12px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.toast-confirm button {
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

#toast-confirm-yes {
  background: #e74c3c;
  color: white;
}

#toast-confirm-no {
  background: #bdc3c7;
  color: #333;
}
