
#homePg {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background: #f5f7f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
}


.background-blur {
  position: absolute;
  inset: 0;
  z-index: 0;
  overflow: hidden;
  width: 100%;
  opacity: 50%;
}

/* Container principal */
.container {
  position: relative;
  z-index: 1;
  text-align: center;
  max-width: 700px;
}

h1 {
  font-size: 2rem;
  color: #2f3b1f;
  font-weight: 700;
}

h1 span {
  color: #7ca877;
}

.subtitle {
  color: #333;
  margin-top: 10px;
  line-height: 1.6;
}

.divider {
  width: 60px;
  height: 2px;
  background: #cfd6cf;
  margin: 20px auto;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 30px 0;
}

.card {
  background: #e8f0e8;
  border-radius: 10px;
  padding: 20px;
  width: 180px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.ganharPontos{
    filter: invert(62%) sepia(25%) saturate(140%) hue-rotate(56deg) brightness(150%) contrast(80%)!important; 
}

.card img {
  width: 30px;
  margin-bottom: 10px;
  filter: invert(30%) sepia(15%) saturate(500%) hue-rotate(60deg);
}

.contribuir{
    width: 40px!important;
    margin-bottom: 10px;
}


.card p {
  font-size: 0.9rem;
  color: #333;
  line-height: 1.4;
}

#btn {
  background: #4b5d3d;
  color: #fff;
  font-weight: 500;
  border: none;
  padding: 12px 30px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s;
}

#btn:hover {
  background: #3d4d32;
}

/* Folha decorativa no canto inferior esquerdo */
.planta {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: 50px;
  margin-left: 10px;
  width: 300px;
  z-index: 1;
}


