@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* Para navegadores baseados em WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 4px; /* largura da barra */
}

::-webkit-scrollbar-track {
  background: #e5ebe5; /* fundo da barra */
}

::-webkit-scrollbar-thumb {
  background: #b4c0b0; /* parte “móvel” */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9ca89a; /* cor quando passa o mouse */
}

/* Para Firefox */
* {
  scrollbar-width: thin;           /* deixa mais fina */
  scrollbar-color: #b4c0b0 #e5ebe5; /* cor do thumb e do track */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.scroll-top {
  position: fixed;
  bottom: 30px; /* distância do fundo */
  right: 30px;  /* distância da lateral */
  width: 50px;  /* tamanho do círculo */
  height: 50px;
  border-radius: 50%; /* faz o círculo */
  background-color: white; /* pode ajustar a cor se quiser */
  border: none;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  cursor: pointer;
  display: none; /* começa oculto */
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
}

.scroll-top:hover {
  transform: scale(1.1); /* efeito hover opcional */
}

.scroll-logo {
  width: 70%; /* tamanho do logo dentro do botão */
  height: 70%;
  object-fit: contain;
}

#toast-container {
  position: fixed;
  bottom: 20px; /* distância da parte inferior */
  right: 30.5%;  /* distância da lateral */
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.toast {
  background-color: #af4c4c; /* cor verde, você pode trocar */
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  animation: slideIn 0.3s ease, fadeOut 0.5s 2.5s forwards; /* entra e sai */
  font-weight: 500;
  min-width: 200px;
  text-align: center;
}

.toast-success {
  background-color: #4CAF50;
}

.toast-error {
  background-color: #E53935;
}

@keyframes slideIn {
  from { transform: translateX(100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

@keyframes fadeOut {
  to { opacity: 0; transform: translateX(100%); }
}

