* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* #modal {
  display: flex;
  justify-content: center;
  align-items: center;
  
} */

.modal-wrapper {
  width: 100%;
  height: 100%;
}



/* Botão inicial */
#open-login {
  color: black;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
}

#logoutBtn{
    color: black;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
}

/* Modal fundo */
.modal {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}

/* Caixa principal */
.modal-content {
  background: #fff;
  width: 380px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  animation: fadeIn 0.4s ease;
}

/* Gradiente no topo */
.top-gradient {
  position: relative;
  width: 100%;
  height: 150px; /* ajuste conforme o tamanho desejado do topo */
  overflow: hidden;
}

/* Círculo esquerdo */
.top-gradient::before {
  content: "";
  position: absolute;
  top: -210px;
  left: -400px;
  width: 800px;
  height: 320px;
  background: radial-gradient(circle, rgba(25, 49, 7, 0.6) 30%, rgba(8, 14, 7, 0) 100%);
  filter: blur(20px);
  border-radius: 50%;
}

/* Círculo direito */
.top-gradient::after {
  content: "";
  position: absolute;
  top: -130px;
  right: -100px;
  width: 250px;
  height: 250px;
  background: radial-gradient(circle, rgba(111, 134, 91, 0.6) 0%, rgba(93, 116, 68, 0) 70%);
  filter: blur(20px);
  border-radius: 50%;
}


.top-gradient img{
margin-left: 8.2vw;
margin-top: 3vw;
}


/* Área de formulário */
.form-area {
  padding: 30px 40px;
  text-align: left;
}

label {
  font-weight: 500;
  color: #000;
  font-size: 14px;
}

/* Campos */
.input-box {
  display: flex;
  align-items: center;
  background: #e9f0e7;
  border-radius: 8px;
  margin-top: 6px;
  margin-bottom: 16px;
  padding: 10px;
}




.input-box input {
  border: none;
  outline: none;
  flex: 1;
  background: transparent;
  margin-left: 10px;
  font-size: 14px;
  color: #000;
}

/* Senha + link */
.senha-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forgot {
  font-size: 12px;
  color: #1b1b1b;
  text-decoration: none;
  font-weight: 500;
}

.forgot:hover {
  text-decoration: underline;
}

/* Botão */
button[type="submit"] {
  width: 100%;
  background: #5F705B;
  border: none;
  padding: 12px;
  border-radius: 10px;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

button[type="submit"]:hover {
  background: #2f4730;
}

/* Texto inferior */
.register-text {
  text-align: center;
  font-size: 13px;
  margin-top: 18px;
}

.register-text a {
  color: #3d5c3a;
  font-weight: 500;
  text-decoration: none;
}

.register-text a:hover {
  text-decoration: underline;
}

/* Botão X */
.close {
  position:absolute;
  top: 10px;
  right: 18px;
  font-size: 25px;
  color: #000;
  cursor: pointer;
  z-index: 100;
}

/* Animação */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}
